body {
   
    background-color: green;
   }
h2, h3 {
    color: rgb(105, 18, 18);
}
.nav-link {
    color: rgb(204, 21, 21);
}
.bg-grey {
    background-color: grey;
}
.nav-link {
    color: #dd3;
}
.text-grey {
    color: grey;
}
.text-fm {
    color: rgb(105, 18, 18);
    font-size: 500%;
    /* font-weight: 8rem; */
    text-transform: uppercase;
    text-shadow: 2px 1px 15px rgb(4, 43, 19);
}



.hd-bg-img {
     background-color: rgb(192, 201, 192);
}

footer {
    color: #dddd;
    background-color: grey;
}